<div id="div-footer">
  <section id="section-footer">
    <div class="container" id="container-footer">
      <footer id="footer" class="footer-basic">
        <p id="para-me">
          Thank you for visiting ! If you wish to work with me, don’t hesitate
          to contact me at<br /><i class="fa fa-phone"></i>&nbsp; +3168021495<br />or
          simply drop an email: <i class="fa fa-envelope-o"></i>&nbsp;
          evabrunczvikova@gmail.com<br /><br />
        </p>
        <div class="social">
          <a href="#"><i class="icon ion-social-instagram"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">VIVIDINIT © 2021</p>
      </footer>
    </div>
  </section>
</div>
