<header>
    <nav>

        <div class="row">

            <div class="item">
                <img src="/static/favicons/coathanger_2_white.svg" alt="Vivitinit logo" class="logo"><br/>
                <img src="/static/favicons/coathanger_2_black.svg" alt="Vivitinit logo" class="logo-black">
                <br/><br/><br/>
                <div class="handwriting"><p>Wardrobe Styling & Organising</p></div>
            </div>
            <ul class="main-nav js--main-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#email">Contact</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon">
                <ion-icon name="menu" class="icon-big"></ion-icon>
            </a>
        </div>
    </nav>

   <div class="hero-text-box header-text-center">
        <h1>Giving you a personalised wardrobe which will make you and our planet smile.</h1>
    </div>

</header>