{% extends 'base.html'%}
{% block content %}

<p class="text-justify">
    <br />
    <br />
    
    Hi, I’m Eva Brunczvikova, your fashion therapist, based in The Hague, Netherlands.
    My passion is fashion and by holding a degree in educational psychology, I am able to provide a professional, trustful environment. 
    <br />
    My session saves you years of self-improvement research, gives you sense of identity and confidence. 
    Your new personalized wardrobe saves you money by helping you not to rely on trends and time in getting dressed.
    <br />
    If you wish to know how I can transform your wardrobe and your life don't hesitate to contact me at 
    <br />
    <ion-icon name="phone-portrait"></ion-icon> + 31 6 80214955
    <br />
    <br />
    I am looking forward to working with you! 
    Together we make a positive difference!


    Eva 
    

    <br />
</p>
{% endblock %}