{% extends 'base.html' %}
{% block content %}

    <section class="section-features js--section-features" id="features">
        <div class="row">
            <p class="long-copy">
                Whether you’re a building your career or concentrate on being a stay-at home parent, it seems
                that you have no time at all to take care of yourself. That is where I step in, to help you to create
                your unique style and customized wardrobe. To save you time, frustration and money. To enlarge
                your opportunities and minimise your carbon footprint. For a more conscious and sustainable
                lifestyle.
            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/pic_beautiful.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeIn">
        </div>
    </section>

    <section class="section-features js--section-features" id="about">
        <div class="row">
            <p class="long-copy">
                <br/>
                <br/>
                Hi Beautiful,<br/>
                I’m Eva, your Fashion Consultant, Personal Shopper and Wardrobe Organizer currently based in
                The Hague, Netherlands.<br/>
                Fashion is my muse. I want to make the world a happier place by letting you shine with your own
                vivid beauty. With my background as a teacher and psychologist, I’m able to provide a
                professional and safe environment. My work is tailor-made based on your personal preferences.
                As we work with Kibbe body types, Seasonal Colour Palettes, we will indulge in choosing your
                right clothes, accessories and fabrics.<br/>
                Join me on an uplifting journey, together we make a positive difference.
            </p>

            <img src="{{ url_for('static', filename='images/shopping_wardrobe.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/>
            <br/>
            <p class="long-copy">
                <b>SHOPPING YOUR WARDROBE</b><br/>
                <i>Giving what you already own, a new lease of life!</i><br/><br/>
                Would you like to free yourself from stress that you have nothing to wear? <br/>
                I will help you to see the potential that your closet already has. Yes! It will be as you purchased a
                whole new
                wardrobe, without going shopping.<br/> I create outfits that meet your goals and you will be feeling
                inspired and excited to get dressed every day.<br/><br/>
                -- one-to-one consultation to determine what you want your image to convey.<br/>
                -- photo documentary of various outfit combinations
            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/wardrobe_consulting.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/>
            <br/>
            <p class="long-copy">
                <b>WARDROBE CONSULTING</b><br/>
                <i>Solidifying your sense of personal style</i><br/><br/>
                We dive deeper into your closet and the choices you have made and want to make. In this
                session we discuss your seasonal colour palette, your body type, your current style, how you
                feel about your style and what changes you want to see. I give you my analysis and
                recommendations and a course of action to start your uplifting journey.<br/><br/>
                - styling and wardrobe evaluation which includes Style Persona,<br/>
                - Body & Colour Analysis<br/>
                - takeaway book ( style tips and more )
            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/personal_shopping.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/>
            <br/>
            <p class="long-copy">
                <b>PERSONAL SHOPPING</b><br/>
                <i>Indulge in effectiveness</i><br/><br/>
                Do you feel like you’re throwing money out of the window because you’re making the wrong
                shopping decisions? I will help you to make the best possible purchases in person or online by
                analyzing your needs, personality, lifestyle and budget.<br/>
                Having sustainability in mind, supporting vintage and second-hand shopping, recommending
                brands with sustainable and ethical fashion practices whenever possible.<br/>
                - Offering shopping services in person and online<br/>
                - follow up <br/>

            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/wardobe_organizing.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/>
            <br/>
            <p class="long-copy">
                <b>WARDROBE ORGANISING</b><br/>
                <i>Your clothes are cared for</i><br/>
                It is easy to feel overwhelmed as we have accumulated to our wardrobe year after year.<br/> I relief
                that stress for you by helping you to decide what to keep, what to mend and what to donate.<br/>I will
                make your closet lighter, brighter and totally refreshed.<br/> Transforming your wardrobe space into
                something functional and beautiful.<br/>Cleaning out, de-cluttering, categorising your clothes by
                season, function and colour.<br/> Using the KonMari method of folding, providing tips and unique
                methods which will help you to get and to remain organised.<br/>
            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/capsule_wardrobe.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/>
            <br/>
            <p class="long-copy">
                <b>CAPSULE WARDOBE</b><br/>
                <i>Less is more</i><br/><br/>
                Helping you to build your dream wardrobe.<br/> A wardrobe with limited number of carefully selected
                items of clothing and accessories which will go well together because they are timeless.<br/> As a
                result you will always have something appropriate to wear.<br/> No more time to waste on searching
                and choosing. De-cluttering made into an art.<br/> Welcome to your new phase!
            </p>
            <br/>
            <br/>
            <img src="{{ url_for('static', filename='images/about_me.jpg') }}" alt=""
                 class="app-screen js--wp-2 animated fadeInUp">
            <br/><br/>
            <p class="long-copy">
                Make your loved ones, friends, family, colleagues happy with my incredibly practical &
                unbelievably sweet gift vouchers.<br/> We can tailor it according to your specification. Simply get in
                touch.

            </p>
        </div>
    </section>
    <br/>
    <br/>
    <section class="section-testimonials" id="testimonials">
        <div class="row">
            <h2>Testimonials</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <blockquote>
                    I loved working with Eva, exploring my personal style and the shapes and colours that suit me
                    best. Eva looks at every aspect of your lifestyle, personality, body shape and colouring to help
                    you build a unique style that really works for you. It’s not just about looks; her advice really
                    helps
                    you feel your best. I was impressed with how intuitive she is in the way she gets to know you.
                    Talking to her lead to quite a few “a-ha” moments for me. Eva is also extremely approachable,
                    kind and warm with a beautiful energy that she brings to her work. I would highly recommend her
                    both to those that need a complete overhaul and those that just looking for tweaks.


                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    Eva helped me to organise my closet for more functional and practical one. She was able to
                    review my clothes with respect to colour, shapes, length, pattern, and made great suggestions
                    for new outfits using my existing clothes. With a stellar eye for fashion she created looks for
                    variety of occasions. She decluttered my wardrobe, my clothes were reduced to only things that I
                    enjoy wearing and it is easy to find everything. Thank you!

                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    I enjoyed working with Eva. She is an energetic, enthusiastic, loving person. She helped me to
                    understand my style, matched me with the right seasonal colour palette which completed my
                    overall appearance. She brought brightness and fresh air to my closet.

                </blockquote>
            </div>
        </div>
    </section>

    <section class="section-form">
        <div class="row">
            <h2>We're happy to hear from you</h2>
        </div>
        <div class="row">
            <form method="post" action="#" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="Your name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" name="email" id="email" placeholder="Your email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="find-us">How did you find us?</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select name="find-us" id="find-us">
                            <option value="friends" selected>Friends</option>
                            <option value="search">Search engine</option>
                            <option value="ad">Advertisement</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Drop us a line</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea name="message" placeholder="Your message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Send it!">
                    </div>
                </div>

            </form>

        </div>
    </section>

{% endblock %}
