<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <nav class="navbar navbar-nav navbar-expand-lg navbar-dark shadow-5-strong text-center">
            <div class="container-fluid">
                <a class="navbar-brand" href="/static/favicons/vivid_coathanger_180px.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
        <br/>
        <div class="card transparent_bg center_card">
            <h2>Your style is there - waiting for you!</h2><br/>
            <h3>Giving you a personalised wardrobe which will make you and our planet smile.</h3>
        </div>
        <br/>
    </div>
</div>
<div class="container">
    <br/>
    <br/>
    <div class="card no_card_border">
        <div class="card-body">
            <h2>Whether you’re a building your career or concentrate on being a stay-at home parent, it seems
                that you have no time at all to take care of yourself. That is where I step in, to help you to create
                your unique style and customized wardrobe. To save you time, frustration and money. To enlarge
                your opportunities and minimise your carbon footprint. For a more conscious and sustainable
                lifestyle.</h2></p>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_1_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2>Hi Beautiful,<br/>
                I’m Eva, your Fashion Consultant, Personal Shopper and Wardrobe Organizer currently based in
                The Hague, Netherlands.<br/>
                Fashion is my muse. I want to make the world a happier place by letting you shine with your own
                vivid beauty. With my background as a teacher and psychologist, I’m able to provide a
                professional and safe environment. My work is tailor-made based on your personal preferences.
                As we work with Kibbe body types, Seasonal Colour Palettes, we will indulge in choosing your
                right clothes, accessories and fabrics.<br/>
                Join me on an uplifting journey, together we make a positive difference.</h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_2_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2><b>SHOPPING YOUR WARDROBE</b><br/>
                <i>Giving what you already own, a new lease of life!</i><br/><br/>
                Would you like to free yourself from stress that you have nothing to wear? <br/>
                I will help you to see the potential that your closet already has. Yes! It will be as you purchased a
                whole new
                wardrobe, without going shopping.<br/> I create outfits that meet your goals and you will be feeling
                inspired and excited to get dressed every day.<br/><br/>
                -- one-to-one consultation to determine what you want your image to convey.<br/>
                -- photo documentary of various outfit combinations</h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_3_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2><b>WARDROBE CONSULTING</b><br/>
                <i>Solidifying your sense of personal style</i><br/><br/>
                We dive deeper into your closet and the choices you have made and want to make. In this
                session we discuss your seasonal colour palette, your body type, your current style, how you
                feel about your style and what changes you want to see. I give you my analysis and
                recommendations and a course of action to start your uplifting journey.<br/><br/>
                - styling and wardrobe evaluation which includes Style Persona,<br/>
                - Body & Colour Analysis<br/>
                - takeaway book ( style tips and more )</h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_4_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2><b>PERSONAL SHOPPING</b><br/>
                <i>Indulge in effectiveness</i><br/><br/>
                Do you feel like you’re throwing money out of the window because you’re making the wrong
                shopping decisions? I will help you to make the best possible purchases in person or online by
                analyzing your needs, personality, lifestyle and budget.<br/>
                Having sustainability in mind, supporting vintage and second-hand shopping, recommending
                brands with sustainable and ethical fashion practices whenever possible.<br/>
                - Offering shopping services in person and online<br/>
                - follow up <br/></h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_5_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2><b>WARDROBE ORGANISING</b><br/>
                <i>Your clothes are cared for</i><br/>
                It is easy to feel overwhelmed as we have accumulated to our wardrobe year after year.<br/> I relief
                that stress for you by helping you to decide what to keep, what to mend and what to donate.<br/I will
                make your closet lighter, brighter and totally refreshed.<br/> Transforming your wardrobe space into
                something functional and beautiful.<br/>Cleaning out, de-cluttering, categorising your clothes by
                season, function and colour.<br/> Using the KonMari method of folding, providing tips and unique
                methods which will help you to get and to remain organised.<br/></h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_6_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2><b>CAPSULE WARDOBE</b><br/>
                <i>Less is more</i><br/><br/>
                Helping you to build your dream wardrobe.<br/> A wardrobe with limited number of carefully selected
                items of clothing and accessories which will go well together because they are timeless.<br/> As a
                result you will always have something appropriate to wear.<br/> No more time to waste on searching
                and choosing. De-cluttering made into an art.<br/> Welcome to your new phase!</h2>
        </div>
        <br/>
        <br/>
        <img src="/static/images/pic_7_web.jpg" class="img-fluid" alt="...">
        <br/>
        <br/>
        <div class="card-body">
            <h2>Make your loved ones, friends, family, colleagues happy with my incredibly practical &
                unbelievably sweet gift vouchers.<br/> We can tailor it according to your specification. Simply get in
                touch.</h2>
        </div>
        <br/>
        <br/>

    </div>
</div>

<script>
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {

            document.getElementById("navbar").style.background = "#501e27";
        } else {

            document.getElementById("navbar").style.background = "none";
        }
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
