{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="carouselTestimonialsControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        {#<div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>#}
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <p><i><q>I loved working with Eva, exploring my personal style and the shapes and colours that suit me
                    best. Eva looks at every aspect of your lifestyle, personality, body shape and colouring to help
                    you build a unique style that really works for you. It’s not just about looks, her advice really
                    helps
                    you feel your best. I was impressed with how intuitive she is in the way she gets to know you.
                    Talking to her lead to quite a few “a-ha” moments for me. Eva is also extremely approachable,
                    kind and warm with a beautiful energy that she brings to her work. I would highly recommend her
                    both to those that need a complete overhaul and those that just looking for tweaks.
                </q></i></p>
                <br/>
                <br/>
                <h5>Jelena</h5>
            </div>
            <div class="carousel-item">
                <p><i><q>Eva helped me to organize my closet for more functional and practical one. She was able to
                    review my clothes with respect to colour, shapes, length, pattern, made great suggestions for
                    new outfits using my existing clothes. With a stellar eye for fashion she created looks for variety
                    of occasions. She de-cluttered my wardrobe, my clothes were reduced to only things that I enjoy
                    wearing and it is easy to find everything. Thank you.
                </q></i></p>
                <br/>
                <br/>
                <h5>Petra</h5>
            </div>
            <div class="carousel-item">
                <p><i><q>I enjoyed working with Eva. She is an energetic, enthusiastic, loving person. She helped me to
                    understand my style, matched me with the right seasonal colour palette which completed my
                    overall appearance. She brought brightness and fresh air to my closet.
                </q></i></p>
                <br/>
                <br/>
                <h5>Jekatarina</h5>
            </div>
        </div>
       {# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>#}
    </div>
</div>

{% endblock %}